:host {
    -webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
    position: absolute;
    
  display:block;
	* {
		opacity: 1;
    transition: opacity 300ms;
    
		overflow:hidden;
		background-color:#fff;
		
		/*make things unselectable, cross browser*/
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	*:unresolved {
	    opacity: 0;
	 }
  :-webkit-full-screen 
  {
    width:100% !important;
    height:100% !important;
    left:0px !important;
    top:0px !important;
  }  

  *:-webkit-full-screen	-moz-full-screen 
   {
      width:100%;
      height:100%;
      left:0px;
      top:0px;
      background-color:red;
   }
}

canvas {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index:0;


        cursor:default;
        /*make things unselectable, cross browser*/
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

/*
:host {
        display: block;
        position: relative;

		      -webkit-touch-callout: none;
		      -webkit-user-select: none;
		      -khtml-user-select: none;
		      -moz-user-select: none;
		      -ms-user-select: none;
		      user-select: none;



      }
*/
.unselectable
{
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

